# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Env
.env
.env.*

# Java / Spring
backend/**/target/
backend/**/.mvn/
backend/**/.gradle/
backend/**/build/

# Flutter / Dart
mobile/**/.dart_tool/
mobile/**/.packages
mobile/**/build/
mobile/**/.flutter-plugins
mobile/**/.flutter-plugins-dependencies
mobile/**/android/.gradle/

# SQLite
*.db
*.sqlite
*.sqlite3

# Backup
infra/backup/*.zip
infra/backup/*.bak